.u-section-1 {
  background-image: linear-gradient(#1ecc42, #999999);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 60px;
  background-image: none;
  height: auto;
  min-height: 733px;
  margin-top: 0;
}